<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">
    <test name="Chrome Tests" parallel="tests" thread-count="2">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestCase1"/>
            <class name="TestCase2"/>
        </classes>
    </test>
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestCase1"/>
            <class name="TestCase2"/>
        </classes>
    </test>
</suite>